<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <title>A collection of free books from Springer</title>
  </head>
  <body>
    <div class="container mt-4">
      <h1>A collection of free books from Springer</h1>
      <div class="row">
        <div class="col-lg-8">
          <p>To help support everyone during Covid-19, <a href="https://www.springernature.com/gp/librarians/news-events/all-news-articles/industry-news-initiatives/free-access-to-textbooks-for-institutions-affected-by-coronaviru/17855960">Springer has released a ton of free textbooks</a>. This is great, but their web page for this is not super friendly, and expects you to <a href="https://resource-cms.springernature.com/springer-cms/rest/v1/content/17858272/data/v8">download some Excel sheet</a> to figure out what they have on offer.</p>
          <p>This web page hopes to make it easier to access <a href="https://www.youtube.com/watch?v=p-1eFrYmGSU">all this knawledge</a>. You’re welcome.</p>
        </div>
      </div>

      <h2>Engineering</h2>

      <div class="row mt-2">
        <div class="col-md">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Intuitive Probability and Random Processes using MATLAB®</h5>
              <h6 class="card-subtitle mb-2 text-muted">Steven Kay, 2006</h6>
              <a href="http://link.springer.com/openurl?genre=book&isbn=978-0-387-24158-6" class="btn btn-primary stretched-link">Go get it</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
        <p class="blockquote-footer mt-4">Made in exasperation by <a href="https://harishnarayanan.org/">Harish Narayanan</a>.</p>
    </div>

  </body>
</html>
